@import "reset.css";
@import "variable.css";
@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: gainsboro;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#colorLayout {
  display: flex;
  justify-content: space-evenly;
  width: 1300px;
  height: 800px;
}

#colorLayout__column {
  display: flex;
  justify-content: center;
}

canvas {
  width: 900px;
  height: 800px;
  background-color: white;
  border-radius: 10px;
}

.btns {
  width: 270px;
  height: 820px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.volumn {
  font-weight: bolder;
}

.color-options {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 820px;
  gap: 20px;
  flex-wrap: wrap;
}
.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid white;
  transition: transform ease-in-out 0.1s;
}
.color-option:hover {
  transform: scale(1.2);
  box-shadow: 0 3px 20px 5px tomato;
}

.color-options input {
  width: 100px;
  height: 50px;
  border-radius: 10px;
}

button,
label {
  all: unset;
  padding: 10px 0px;
  text-align: center;
  background-color: royalblue;
  color: white;
  font-weight: 500;
  height: 30px;
  cursor: pointer;
  border-radius: 10px;
  transition: opacity linear 0.1s;
}

button:hover,
label:hover {
  opacity: 0.85;
  box-shadow: var(--btn-shadow);
}

input#file {
  display: none;
}

input#text {
  all: unset;
  padding: 10px 0px;
  border-radius: 10px;
  font-weight: 500;
  text-align: center;
  background-color: white;
}
input#text:focus,
input#text:hover {
  box-shadow: var(--btn-shadow);
}

#fontSelect {
  height: 50px;
  width: 270px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: royalblue;
  color: white;
}

#fontSelect:focus,
#fontSelect:hover {
  box-shadow: var(--btn-shadow);
}
